.favorite_list {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 2px solid var(--dark-purple);
  border-radius: 15px;
  min-height: 400px;
  max-height: 600px;
  width: 300px;
  padding: 20px;
  padding-right: 40px;
  margin-top: 0px;
  overflow-y: auto;
  overflow-x: hidden;
}

.match_button_container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.match_button {
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 200px;
  border: 2px solid var(--dark-purple);

}
.match_button:hover {
  background-color: var(--dark-purple);
    font-weight: bold;
}