.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  background-color: var(--light-purple);
} 

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: var(--header-height);
  box-sizing: border-box;
  background-color: var(--light-purple);
}


